#webview {
  height: 94vh;
  margin-bottom: 1vh;
  width: 100%;
}

#prompt-container {
  float: right;
  width: 50%;
}

#webview-container {
  width: 50%;
}

#prompt {
  border: none;
  height: 94vh;
  margin: 0;
  padding: 0;
  width: 100%;
}
